.safety_info_basket{
  border: 1px solid #ff0000;
  font-weight: 600;
  padding: 5px;
  margin-top: -2rem;
}
.vorteile{
  padding-top: 50px;
  width: 100%;
}
#cart-dropdown-container .hidden_amazon{
  display: none !important;
}