.product-detail .product-manufacturer img {
  max-width: 100px !important;
}
.desc.truncated p:nth-of-type(n+5) {
  display: none;
}

.desc-btn {
  margin-top: 10px;
  padding: 8px 14px;
  background: $primary;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.desc-btn:hover {
  background: $primary;
}

//produktsicherheit
.hr-sect.h3.mb-4{
  opacity: 0;
}