//
// Platz für eigene Variablen in SCSS-Notation
//
// Alle Änderungen hier müssen anschließend mit einem SCSS-Compiler
// (z.B. dem JTL-Theme-Editor Plugin) nach my-nova.css kompiliert werden
// --------------------------------------------------

// my-nova Theme
// Hier können alle Variablen notiert werden, die nur Auswirkungen auf dieses Theme haben
// -------------------Beginn eigene Variablen----------------------------------

$primary: #ba0109;
$font-family-sans-serif:            'Open Sans', sans-serif !default;
$font-accent:                       'Open Sans', sans-serif !default;
$font-family:                       'Open Sans';


// -------------------Ende eigene Variablen----------------------------------

// Lädt Theme-Variablen, hier aus dem "clear"
// @import '../../../../NOVA/themes/blackline/sass/variables';
@import '../../../../NOVA/themes/clear/sass/variables';
// @import '../../../../NOVA/themes/midnight/sass/variables';

// passt die Pfade an
$nova-theme-path:                   "../../../NOVA/themes";
$fa-font-path:                      "../../../NOVA/themes/base/fontawesome/webfonts";