//
// Platz für eigene Style Angaben in SCSS-Notation
//
// Alle Änderungen hier müssen anschließend mit einem SCSS-Compiler
// (z.B. dem JTL-Theme-Editor Plugin) nach my-nova.css kompiliert werden
// --------------------------------------------------

// Lädt Core-Funktionen
@import '../../../../NOVA/themes/base/sass/functions';

// Lädt "my-nova"-Variablen. Hier können Variablen aus Bootstrap und dem NOVA-Theme überschrieben werden.
@import "variables";

// Lädt Style Angaben des Themes, hier "clear".
@import '../../../../NOVA/themes/clear/sass/allstyles';
// Für die anderen Themes müssen neben der "allstyles" des Themes auch die jeweiligen Regeln aus der "theme.scss"
// (z.B. für blackline aus der blackline.scss) übernommen werden.
// @import '../../../../NOVA/themes/blackline/sass/allstyles';
// @import '../../../../NOVA/themes/midnight/sass/allstyles';

// my-nova Theme
// Hier können alle Style-Angaben notiert werden, die nur Auswirkungen auf dieses Theme haben
// ------------------- Beginn eigenes CSS ----------------------------

@import "layout/base.scss";
@import "layout/header.scss";
@import "layout/footer.scss";
@import "snippets/categories_mega.scss";
@import "snippets/opc-accordeon.scss";
@import "page/product_detail.scss";
@import "page/startseite.scss";
@import "page/productlist.scss";
@import "page/basket.scss";